.breadcrumbs {
  margin: 0 10rem;
  text-align: left;
}

.breadcrumbs > * {
  display: inline-block;
  margin-right: 10px;
}

.breadcrumbs .crumb:after {
  content: ">";
  margin-left: 10px;
}

.breadcrumbs .crumb:last-child:after {
  display: none;
}
